/* Para la aplicacion de estilos debemos de tener en cuenta los selectores, */

nav{ /*Nav es lo apropiado para la barra de navegacion es el elemento contenedor*/
    /*outline: 1px solid red;*/
    width: 200px;
    
}

body{
    font-family: sans-serif;
}

ul{
    /*outline: 1px solid rgb(5, 94, 52);*/
    list-style: none;      /*esta propiedad quita el estilo a ul que por defecto son viñetas*/
    margin: 0;
    padding: 0;
    line-height: 30px; /*Esta etiqueta realiza un espaciado horizontal entre cada elemento dentro del menu vertical */ 
    
}

li{
   /* outline: 1px solid red;*/
   background: #f5f5f0;
}

/* Existen diferentes pseudoclases para la etuiquetas a, los estados son: nemotecnica LoVe/HAte*/ 
/*link*/
/*Visited*/
/*hover---sobre la etiqueta*/
/*Active*----cuando le doy click al enlace/**/
a{
    /*outline: 1px solid blue;*/
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    /*cursor: default; desactica el cursor
   /* transition: all 1s ease-in-out;--Para agregar transicion*/ 

}
 a:hover{
     background: #e0e0d1;
 }

 a:active{
    background: #333;
    color: #fff;
}



/*Entrando a etiqueta li que esta dentro de ul, y seleccionar solo su primer hijo, */
/*osea el primer elemento de la lista****Esto es seleccion descendiente*/
ul li:first-child{
background:#f9a91a
}
ul li:first-child a{ /*aqui le digo que la etiqueta a que se encuentra en li que es el 1er hijo de ul..cambie de color*/
  color:#fff;
}
ul li:first-child a:hover{
    /*aqui le digo que la etiqueta a cuando pase el mouse(hover) que se encuentra en li que es el 1er hijo 
    de ul..cambie de color*/
    color: #000;
}

ul li:first-child a:active{
    color: #fff;
}